* {
        margin: 0;       
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
      }
      
      @font-face {
        font-family: 'Qanelas-Bold';
        src: url('fonts/QanelasSoftDEMO-ExtraBold.woff') format('woff')
      }
      @font-face {
        font-family: 'Qanelas-Light';
        src: url('fonts/QanelasSoftDEMO-UltraLight.woff') format('woff')
      }      
      
      body {
        padding: 20px;
        font-family: Qanelas-Bold, Qanelas-Light;
      }
      
      .container {
        display: flex;
        height: 100vh;
        align-items: flex-start;
      }
      
      .block {
        font-family:  Qanelas-Light, sans-serif;
        font-size:50px;
        flex-grow: 1;
        transition: flex-grow 0.5s;
        padding: 50px;
        text-align: center;
        color: white;
        height: 100vh;
        position: relative;
      }
      
      .block::before { 
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 150px; 
        background-color:black;
        opacity: 50%;
        border-radius: 0px 0px 57px 57px;
        }

        

      #block1 {
        background-color: gray;
      }
      
      #block2 {
        background-color: darkgray;
      }


.noc {

  position: relative;
  z-index: 1;
}

      
      