<<<<<<< HEAD
@font-face {
        font-family: 'Qanelas-Bold';
        src: url('fonts/QanelasSoftDEMO-ExtraBold.woff') format('woff')
      }
@font-face {
        font-family: 'Qanelas-Light';
        src: url('fonts/QanelasSoftDEMO-UltraLight.woff') format('woff')
      }      


body {
        font-family: Qanelas-Bold, Qanelas-Light;
         background-color: gray }

.name {
        
    font-family: Qanelas-Bold; text-align: center; color: black; font-size:30px; 
=======
body {
        font-family: Arial,Qanelas Soft DEMO, sans-serif; background-color: gray }

.name {
        
    font-family: Arial;text-align: center; color: black; font-size:30px; 
>>>>>>> 0612a8afeb10ca2963310d7e0c83a477008cb17c
    margin-top: -140;
    position: relative;
     z-index: 10;

}

.name2 {

<<<<<<< HEAD
        font-family: Qanelas-Light, sans-serif; text-align: center; color: black; font-size:26px; font-weight: lighter;
        margin-top: -150;
        margin-left: -805;
=======
        font-family: “Qanelas Soft DEMO”, sans-serif; text-align: center; color: black; font-size:26px; font-weight: lighter;
        margin-top: -150;
        margin-left: -815;
>>>>>>> 0612a8afeb10ca2963310d7e0c83a477008cb17c
        position: relative;
        z-index: 10;

}

.logo{
        background-image: url('mscdtmin.png'); 
        width: 218px;
        height: 236px;
<<<<<<< HEAD
        position: relative;
         z-index: 10;
        left: 30px;
=======
        margin: 10px;
        position: relative;
         z-index: 10;   
        margin-right: 100px;
>>>>>>> 0612a8afeb10ca2963310d7e0c83a477008cb17c
}

.rec1{
    width:1920px;
        height:300px;
        background:white;
        opacity: 20%;
        position: absolute;
        margin-top: -280px;
        margin-left: -10px;
<<<<<<< HEAD
        border-radius: 0px 0px 57px 0px;
=======
>>>>>>> 0612a8afeb10ca2963310d7e0c83a477008cb17c
}
.rec2{
    width:300px;
        height:1080px;
        background:white;
        opacity: 20%;
        position: absolute;
        margin-top: -300px;
        margin-left: -10px;
<<<<<<< HEAD
        border-radius: 0px 0px 57px 0px;
=======
>>>>>>> 0612a8afeb10ca2963310d7e0c83a477008cb17c
}

.navbar {

        font-family: Arial;text-align: center; color: white; font-size:30px;
    margin-top: 250px;
    margin-left: -1600;
    position: relative;
    z-index: 9;
<<<<<<< HEAD
    display: flex;      
=======
    display: flex;
>>>>>>> 0612a8afeb10ca2963310d7e0c83a477008cb17c
    gap:50px;
    flex-direction: column;
    font-weight: bold;

}



.news {
<<<<<<< HEAD
        background-size: cover;
        background-position: center;
        width:530px;
        height: 430px;
        background:white;
        position: relative;
        z-index: 11;
        margin-top: -350px;
        margin-left: 1200px;
        border-radius: 38px 38px 38px 38px;
        
=======
        background-color: #f2f2f2; padding: 10px;
>>>>>>> 0612a8afeb10ca2963310d7e0c83a477008cb17c
}
/* #FAE3A7*/
