<html>
<head>
    <meta charset="utf-8">
    <title> MSCDT</title>
    <link rel="shortcut icon" href="MSCDT.png">
</head>
<style>
        body { font-family: Arial, sans-serif; background-image: url("background.jpg") }
        .header { background-color: black; opacity: 20%; color: white; padding: 10px; text-align: center; }
        .navbar { background-color: #f2f2f2; padding: 10px; margin-bottom: 15px; }
        .navbar a { margin-right: 15px; }
        .news { background-color: #f2f2f2; padding: 10px; }
    </style>
</head>
<body>

    <div class="header">
        <h1>Минское Государственное Колледж Цифровых Технологий</h1>
    </div>
    <div class="navbar">
        <a href="#">Главная</a>
        <a href="#">О нас</a>
        <a href="#">Абитуриентам</a>
        <a href="#">Еще</a>
    </div>
    <div class="news">
        <h2>НОВОСТИ</h2>
    </div>
</body>
</html>
