<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> MSCDT</title>
    <link rel="shortcut icon" href="images/mscdt.png">
</head>

<body>

<div class="roof">
    <h1 class="name_of_college">
        Minsk Social College of Digital Technologies
    </h1>

    <h2 class="name_of_college2">
        Educational institution
    </h2>
    
    <div class="logotype_of_college">
    </div>
    
    <div class="rectangle_horizontal">
    </div>
    
    <div class="rectangle_vertical">
    </div>
</div>

<div class="blocks_with_information">

</div>    

<div class="footer">
    <button class="footer_button">
        <a href="https://www.youtube.com/">Push me!

        </button>
</div>
</body>

</html>