<!DOCTYPE html>
<html>
<head>
    <title> MSCDT</title>
    <link rel="shortcut icon" href="MSCDT.png">
    <link rel="stylesheet" href="css/start.css">
</head>
<body>

<div class="container">
    <div class="block" id="block1"><a href="home.html", style="text-decoration: none; color: white;">Knorina</a></div>
    <div class="rectangle"></div>
    <div class="block" id="block2"><a href="home.html",  style="text-decoration: none; color: white;">Kazinca</a></div>
    <div class="rectangle"></div>
</div>

<script src="scripts/choose.js"></script>
</body>
</html>
