<!DOCTYPE html>
<html>
<head>
    <title> MSCDT</title>
    <link rel="shortcut icon" href="MSCDT.png">
    <link rel="stylesheet" href="css/start.css">
</head>
<body>

<div class="container">
    <div class="block" id="block1">
        <div class="noc"> 
            <a href="home.html", style="  text-decoration: none; color: white;">
                    Knorina
            </a>
        </div>
    </div>
    <div class="block" id="block2">
        <div class="noc"> 
            <a href="home.html", style="  text-decoration: none; color: white;">
                Kazinca
        </a>
    </div>  
</div>

<script src="scripts/choose.js"></script>
<script src="scripts/slide.js"></script>
</body>
</html>
